.table-container {
  overflow-x: auto;
}

.actions {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (max-width: 768px) {
  .table-container {
    font-size: 14px;
  }
  
  .table th,
  .table td {
    padding: 8px;
  }
}
